{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Forum</title>
    <link rel="icon" href="{% static '/admin/img/imgforum.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--NavBar Section-->
        <div class="navbar">
            <nav class="navigation hide" id="navigation">
                <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'signup' %}">Signup</a></li>
                    <li class="nav-item"><a href="{% url 'signin' %}">Signin</a></li>
                    {% endif %}
                </ul>
            </nav>
            <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
            <div class="brand">
                <img src="{% static '/admin/img/imgforum.png' %}" alt="Forum Logo" class="logo-img">
                <span class="title">Mental Health Forum</span>
            </div>
            {% if user.is_authenticated %}
            <button style="font-size: 20px; font-weight: 200; margin-left: 100px; background-color: #740FEE; color: white; border: none; padding: 10px 20px; border-radius: 5px;">
                <a href="{% url 'create_post' %}" style="text-decoration: none; color: inherit; display: block;">
                    +
                </a>
            </button>

            {% endif %}
        </div>
        <!--SearchBox Section-->
                <form action="{% url 'search_result' %}" role="form" method="GET">
                <div class="search-box">
                    <div>
                        <select name="search-box" id="">
                            <option value="Everything">Everything</option>
                            <option value="Titles">Titles</option>
                            <option value="Descriptions">Descriptions</option>
                        </select>
                        <input type="text" name="q" placeholder="search ...">
                        <button type="submit" name="search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                </form>
    </header>
    {% if messages %}
        {% for message in messages %}
            <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> {{message}} </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
    <div style="margin-bottom: 150px;"></div>

<footer>
    <div class="footer-content">
        <div class="left">
            <img src="{% static '/admin/img/imgforum.png' %}" alt="Logo">
            <span>&copy; 2023 Mental Health Forum</span>
            <span>All rights reserved</span>
        </div>
        <div class="middle">
            <span>Developers:</span>
            <span>Chong Pao Lun</span>
            <span>Thivya Sri</span>
            <span>Harshini Alages</span>
            <span>Fasihatul Amira</span>
        </div>
        <div class="right">
            <span>SKIH 3023</span>
            <span>Colab & Social Computing</span>
            <span>Instructor:</span>
            <span>Prof. Madya. Dr. Farzana</span>
            <span>bt Kabir Ahmad</span>
        </div>
    </div>
</footer>


    <script src="{% static 'main.js' %}"></script>
</body>
</html>
